body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFF5E1;
}

header,
nav,
footer {
    background-color: #FF00FF;
    color: #fff;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    margin: 0;
    background: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #eae6ca;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #FF00FF;
}

nav ul li a:hover {
    background-color: #FF00FF;
    color: #fff;
    margin: 10;
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-column {
    flex: 1;
    padding: 20px;
    text-align: left;
}

iframe {
    flex: 1;
    margin: 0 20px;
}

.right-column {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
.titulo-centrado {
    text-align: center;
}

.columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-text {
    width: calc(33.33% - 10px); /* Para mantener 3 columnas y espacio entre ellas */
    margin-bottom: 20px;
    text-align: center;
}
